.movies{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.movies__list {
    max-width: 1140px;
    width: calc(708px + (1140 - 708)*((100vw - 768px)/(1280 - 768)));
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); */
    column-gap: 20px;
    row-gap: 32px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 80px;
    padding-left: 15px;
}

.movies__button {
    max-width: 1140px;
    width: calc(300px + (1140 - 300)*((100vw - 320px)/(1280 - 320)));
    min-height: 36px;
    border-radius: 6px;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 50px auto 80px auto;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    border: none;
}

@media screen and (max-width: 800px) {
    .movies__list {
        max-width: 708px;
        /* grid-template-columns: repeat(auto-fit, minmax(339px, 1fr)); */
        column-gap: 30px;
        row-gap: 36px;
        padding-left: 10px;
    }

}

@media screen and (max-width: 560px) {
    
    .movies__list {
        max-width: 300px;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        gap: 19px;
        margin-top: 50px;
    }
}