.movies__card-list {
    width: calc(300px + (1140 - 300)*((100vw - 320px)/(1280 - 320)));
    margin: auto;
    max-width: 1140px;
    max-height: 1325px;
    margin-top: 5px;
}

.movies__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 32px 20px;
    justify-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    .movies__list {
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        grid-gap: 36px 30px;
    }

    .movies__card-list {
        width: 708px;
        margin-top: 78px;
    }
}

@media screen and (max-width: 400px) {
    .movies__card-list {
        width: 300px;
        margin-top: 50px;
    }

    .movies__list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}