.portfolio {
    width: 100%;
    margin: auto;
    margin-top: calc(70px + (101 - 70)*((100vw - 320px)/(1280 - 320)));
}

.portfolio__title {
    width: 1140px;
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
    margin-bottom: calc(40px + (50 - 40)*((100vw - 320px)/(1280 - 320)));
}

.portfolio__lists {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: calc(70px + (125 - 70)*((100vw - 320px)/(1280 - 320)));
}

.portfolio__list {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 19px;
}

.portfolio__list:last-child {
    padding-bottom: 0;
    border-bottom: none;

}

.portfolio__link {
    width: 100%;
    display: grid;
    grid-template-columns: 77% 33%;
    grid-template-areas:
        "title link";
    gap: calc(24px + (231 - 24)*((100vw - 320px)/(1280 - 320)));
    text-decoration: none;
    color: #000;
    align-items: center;
}

.portfolio__subtitle {
    grid-area: title;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__image {
    grid-area: link;
    margin: 0;
    width: calc(18px + (29 - 18)*((100vw - 320px)/(1280 - 320)));
    height: 15px;
    background-image: url(../../images/point.svg);
    background-repeat: no-repeat;
    background-size: 29px 15px;
}

@media screen and (max-width: 780px) {
    .portfolio {
        margin-top: 91px;
    }

    .portfolio__title {
        width: 668px;
        margin-bottom: 50px;
    }

    .portfolio__subtitle {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio__link {
        gap: 130px;
    }

    .portfolio__lists {
        width: 668px;
    }

    .portfolio__image {
        background-size: 21px 15px;
    }
}

@media screen and (max-width: 420px) {
    .portfolio__link {
        grid-template-columns: 84% 26%;
        gap: 31px;

    }

    .portfolio__title {
        width: 292px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .portfolio {
        margin-top: 70px;
    }

    .portfolio__subtitle {
        font-size: 18px;
        letter-spacing: -0.72px;
        line-height: 28px;
    }

    .portfolio__lists {
        width: 292px;
    }

    .portfolio__image {
        background-size: 10px 15px;
    }

}