.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header__navigation-lists {
    display: flex;
    column-gap: 16px;
    margin: 0;
    padding-left: 70px;
}

.header__navigation-list {
    list-style: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

.header__navigation-link {
    text-decoration: none;
    color: black;
}

.header__navigation-link:hover {
    opacity: 0.7;
}

.header__navigation-link_active {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.header__navigation-btn_mobile {
    display: none;
}

.header__navigation-btn_mobile:hover {
    opacity: 0.8;
}

.header__navigation-list_mobile {
    display: none;
}

.header__navigation-auth_btn {
    color: #000000;
    border-radius: 20px;
    background: #F9F9F9;
    width: 100px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    display: none;
}

.header__navigation-auth_btn {
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .header__navigation-btn_mobile {
        display: block;
        position: absolute;
        top: 23px;
        right: 30px;
        z-index: 10;
        cursor: pointer;
    }

    .header__navigation-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 0;
        padding-top: 159px;
        
    }

    .header__navigation-link {
        font-size: 18px;
    }
    .header__navigation-link_active {
        font-size: 18px;
        text-decoration: underline;
    }

    .header__navigation-list_mobile {
        display: block;
    }

    .header__navigation {
        flex-direction: column;
        width: calc(320px + (520 - 320)*((100vw - 320px)/(768 - 320)));
        height: 100vh;
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        transition: all .2s ease-out;
        justify-content: space-between;
        background-color: #FFFFFF;
        z-index: 3;
    }

    .header__navigation-active {
        right: 0px;
        margin: 0;
        max-width: 520px;
    }

    .header__navigation-btn {
        margin-bottom: calc(46px + (90 - 46)*((100vw - 320px)/(768 - 320)));
    }

    .header__navigation-shadow {
        display: none;
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: #0C1517;
        opacity: 0.3;
        transition: all .2s ease-out;
        z-index: 2;
    }

    .header__navigation-shadow_active {
        display: block;
        right: 0px;
    }

    .header__navigation-auth_btn {
        display: block;
        margin-bottom: 90px;
    }
}



@media screen and (max-width: 400px) {
    .header__navigation-btn_mobile {
        right: 14px;
    }

    .header__navigation-lists {
        gap: 27px;
        padding: 0;
        padding-top: 144px;
    }

    .header__navigation-auth_btn {
        display: block;
        margin-bottom: 46px;
    }

    .header__navigation {
        min-height: 780px;
        justify-content: space-between;
    }
}

