.search {
  max-width: 1280px;
  /* min-height: 247px; */
  /* border-bottom: 1px solid rgba(232, 232, 232, 1); */
}

.search__form {
  width: calc(292px + (1140 - 292)*((100vw - 320px)/(1280 - 320)));
  max-width: 1140px;
  display: flex;
  gap: 49px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 65px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.search__btn {
  width: 80px;
  height: 34px;
  border-radius: 48px;
  background: #FF6838;
  box-shadow: none;
  border-style: none;
  padding: 0;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 6px;
  transition: opacity .3s ease;
}

.search__input {
  max-width: 100%;
  box-shadow: none;
  border-style: none;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  flex-grow: 1;
  border-radius: 40px;
  background: #F9F9F9;
  padding: 0;
  padding-left: calc(19px + (22 - 19)*((100vw - 320px)/(1280 - 320)));
}

.search__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background: #F9F9F9;
}

.search__container-checkbox {
  gap: 12px;
  display: flex;
}

.search__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.search__checkbox-custom {
  border-radius: 20px;
  width: 36px;
  height: 20px;
  cursor: pointer;
  background-image: url(..//..//images/smalltumboff.svg);
}

.search__checkbox:checked+.search__checkbox-custom {
  background-image: url(..//..//images/smalltumb.svg)
}

.search__short-films {
  line-height: 18px;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 780px) {
  .search__form {
    margin-top: 86px;
    width: 708px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .search__form {
    margin-top: 86px;
    width: 292px;
    padding-bottom: 50px;
  }

  .search__input {
    font-size: 11px;
    line-height: 17px;
  }

  .search__short-films {
    font-size: 11px;
    line-height: 18px;
  }
}