.search {
  max-width: 1280px;
}

.search__form {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 65px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.search__btn {
  width: 80px;
  height: 34px;
  border-radius: 48px;
  background: #FF6838;
  box-shadow: none;
  border-style: none;
  padding: 0;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .3s ease;
}

.search__btn:hover {
  opacity: 0.8;
}

.search__input {
  max-width: 100%;
  box-shadow: none;
  border-style: none;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  flex-grow: 1;
  border-radius: 40px;
  background: #F9F9F9;
  padding: 0;
  padding-left: calc(19px + (22 - 19)*((100vw - 320px)/(1280 - 320)));
}

.search__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background: #F9F9F9;
  padding-left: 15px;
}

.search__container-checkbox {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 174px;
  padding-left: 15px;
  margin-top: 37px;
}

.search__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.search__checkbox-custom {
  border-radius: 20px;
  width: 36px;
  height: 20px;
  cursor: pointer;
  background-image: url(..//..//images/smalltumboff.svg);
}

.search__checkbox-custom_active {
  background-image: url(..//..//images/smalltumb.svg)
}

.search__short-films {
  line-height: 18px;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.search__err {
  color: red;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  min-height: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 1279px) {
  .search__field {
    padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .search__form {
    margin-top: 86px;
    max-width: 708px;
    padding-bottom: 50px;
    gap: 47px;
  }

  .search__input {
    padding-left: 28px;
  }

  .search__field {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .search__form {
    margin-top: 86px;
    max-width: 292px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .search__input {
    font-size: 11px;
    line-height: 17px;
    padding-left: 17px;
  }

  .search__short-films {
    font-size: 11px;
    line-height: 18px;
  }

  .search__field {
    gap: 5px;
  }
}