.header {
    background: #465DFF;
    width: calc(320px + (1280 - 320)*((100vw - 320px)/(1280 - 320)));
    max-width: 1280px;
    min-height: 74px;
    margin: 0 auto;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 38px;
    height: 38px;
    margin: 0;
    margin-top: 18px;
    margin-left: calc(14px + (70 - 14)*((100vw - 320px)/(1280 - 320)));
}
.header__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(24px + (70 - 24)*((100vw - 320px)/(1280 - 320)));
}

.header__link {
    color: #FFF;
    text-align: right;
    font-size: calc(10px + (12 - 10)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.header__btn {
    border-radius: 3px;
    background: #2BE080;
    text-decoration: none;
    width: calc(56px + (76 - 56)*((100vw - 320px)/(1280 - 320)));
    height: calc(26px + (32 - 26)*((100vw - 320px)/(1280 - 320)));
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + (12 - 10)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 16px;
    padding: 0;
    cursor: pointer;
}