.header {
    background: #465DFF;
    width: 100%;
    margin: 0 auto;
    color: #FFF;
}

.header__contant {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: calc(292px + (1140 - 292)*((100vw - 320px)/(1280 - 320)));
    margin: auto;
    min-height: 74px;
    align-items: center;
}

.header__logo {
    max-width: 38px;
    max-height: 38px;
}

.header__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    color: #FFF;
    text-align: right;
    font-size: calc(10px + (12 - 10)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.header__btn {
    border-radius: 3px;
    background: #2BE080;
    text-decoration: none;
    width: calc(54px + (76 - 54)*((100vw - 320px)/(768 - 320)));
    max-width: 76px;
    min-width: 54px;
    height: calc(26px + (32 - 26)*((100vw - 320px)/(768 - 320)));
    max-height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + (12 - 10)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 16px;
    padding: 0;
    cursor: pointer;
}

.header__btn-link {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    
    .header__container {
        gap: 14px;
    }
}