.header__auth {
    background: #FFFFFF;
    width: calc(320px + (1280 - 320)*((100vw - 320px)/(1280 - 320)));
    max-width: 1140px;
    min-height: 74px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__auth-content {
    width: 676px;
}

.header__auth-logo {
    width: 38px;
    height: 38px;
}

@media screen and (max-width: 780px) {
    .header__auth-logo {
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__auth-logo {
        margin-left: 14px;
    }
    
}