.about-project {
    width: 100%;
    min-height: 608px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-project__title {
    width: calc(284px + (1140 - 284)*((100vw - 320px)/(1280 - 320)));
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
    padding-bottom: 23px;
    margin-top: calc(70px + (110 - 70)*((100vw - 320px)/(1280 - 320)));
}

.table {
    list-style-type: none;
    display: flex;
    gap: 51px;
    margin: auto;
    padding: 0;
    width: calc(284px + (1140 - 284)*((100vw - 320px)/(1280 - 320)));
    margin-top: 70px;
    margin-bottom: 110px;
}

.table__cell {
    display: flex;
    gap: 26px;
    flex-direction: column;

}

.table__heading {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
}

.table__text {
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 400;
    line-height: calc(16px + (20 - 16)*((100vw - 320px)/(1280 - 320)));
    margin: 0;
}

.grid__items {
    width: calc(284px + (1140 - 284)*((100vw - 320px)/(1280 - 320)));
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: calc(69px + (100 - 69)*((100vw - 320px)/(1280 - 320)));
}

.grid__item {
    display: grid;
    grid-template-rows: 53% 47%;
    grid-template-areas:
        "header"
        "text";
    row-gap: 10px;
}

.grid__item-title {
    grid-area: header;
    margin: 0;
    text-align: center;
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 400;
    line-height: normal;
    min-height: calc(35px + (36 - 35)*((100vw - 320px)/(1280 - 320)));
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__item-subtitle {
    grid-area: text;
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #left {
    background-color: #2BE080;
 }

 #rigth {
    background-color: #F2F2F2;
 }

 @media screen and (max-width: 780px) {
    .about-project__title {
        padding-left: 15px;
    }

    .table {
        margin-bottom: 93px;
        gap: 25px;
        padding-left: 15px;
    }

    .table__cell {
        gap: 22px;
    } 
    
    .grid__item {
        gap: 12px;
    }

    .grid__items {
        width: 668px;
        grid-template-columns: 21% 79%;
    }

 }

 @media screen and (max-width: 420px) {
    .table {
        flex-direction: column;
        gap: 56px;
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 0;
    }

    .grid__item-subtitle {
        line-height: normal;
    }

    .grid__items {
        width: 284px;
        grid-template-columns: 35% 65%;
    }

    .about-project__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-left: 0;
        padding-bottom: 29px;
    }

    .table__heading {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .table__cell {
        gap: 16px;
    }

    .grid__item {
        gap: 10px;
    }
}