.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__area {
    width: calc(292px + (1140 - 292)*((100vw - 320px)/(1280 - 320)));
    display: grid;
    grid-template-areas:
        "info photo"
        "link photo";
    margin-top: calc(60px + (66 - 60)*((100vw - 320px)/(1280 - 320)));
    column-gap: calc(49px + (270 - 49)*((100vw - 768px)/(1280 - 768)));
}

.about-me__title {
    width: calc(292px + (1140 - 292)*((100vw - 320px)/(1280 - 320)));
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
    padding-bottom: calc(28px + (23 - 28)*((100vw - 320px)/(1280 - 320)));
    margin-top: calc(70px + (110 - 70)*((100vw - 320px)/(1280 - 320)));
}

.about-me__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-me__info-link {
    grid-area: link;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.about-me__info-title {
    margin: 0;
    font-size: calc(30px + (50 - 30)*((100vw - 320px)/(1280 - 320)));
    font-weight: 400;
    line-height: 58px;
    letter-spacing: calc(-1.2px + (-2 + 1.2)*((100vw - 320px)/(1280 - 320)));
}

.about-me__info-subtitle {
    margin: 0;
    font-size: calc(11px + (18 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: calc(16px + (20 - 16)*((100vw - 320px)/(1280 - 320)));
}

.about-me__info-text {
    margin: 0;
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 400;
    line-height: calc(16px + (22 - 16)*((100vw - 320px)/(1280 - 320)));
    padding-top: 3px;
}

.about-me__info-photo {
    grid-area: photo;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

@media screen and (max-width: 780px) {
    .about-me__title {
        width: 668px;
        margin-top: 69px;
        padding-bottom: 22px;
    }

    .about-me__area {
        width: 668px;
    }

    .about-me__info-title {
        font-size: 40px;
        letter-spacing: -1.6px;
        line-height: 40px;
    }

    .about-me__info-subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__info-text {
        font-size: 12px;
        line-height: 18px;
        padding-top: 2px;
    }

    .about-me__info {
        width: 364px;
        gap: 18px;
    }
}

@media screen and (max-width: 600px) {
    .about-me__area {
        grid-template-areas:
            "photo"
            "info"
            "link";
        gap: 40px;
    }

    .about-me__info-title {
        line-height: normal;
    }

    .about-me__info-text {
        padding-top: 0;
    }

    .about-me__info-photo {
        width: 292px;
        height: 352px;
    }

    @media screen and (max-width: 400px) {
        .about-me__title {
            width: 292px;
            font-size: 18px;
            letter-spacing: -0.72px;
            margin-top: 40px;
            padding-bottom: 28px;
        }

        .about-me__area {
            width: 292px;
        }

        .about-me__info {
            width: 292px;
            gap: 20px;
        }

        .about-me__info-title {
            font-size: 30px;
            letter-spacing: -1.2px;
        }

        .about-me__info-subtitle {
            font-size: 11px;
            line-height: 16px;
        }

        .about-me__info-text {
            font-size: 11px;
            line-height: 16px;
        }
    }
}