.navtab {
    background-color: #F5F5F5;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtab__links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.navtab__link {
    color: #000;
}

@media screen and (max-width: 400px) {
    .navtab__links {
        gap: 24px;
        font-size: 11px;
    }
}