.navtab {
    background-color: #F5F5F5;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtab__links {
    list-style-type: none;
    display: flex;
    gap: calc(24px + (40 - 24)*((100vw - 320px)/(1280 - 320)));
    margin: 0;
    padding: 0;
    text-decoration-line: underline;
    color: #000;
    font-size: calc(11px + (13 - 11)*((100vw - 320px)/(1280 - 320)));
    font-weight: 500;
    line-height: 16px;
}